<html>

<head>
    <title>CHITKARA MUN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet">
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.lettering.js"></script>
    <script src="js/jquery.textillate.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>CHITKARA MUN</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a id="sub-list-2-opener" style="cursor:pointer">COMMITTEES</a>
                    <ul id="sub-list-2">
                        <li><a href="/committees">ALL COMMITTEES</a></li>
                        <li><a href="/aippm">AIPPM</a></li>
                        <li><a href="/ugna">UNGA</a></li>
                        <li><a href="/hnc">HUMAN RIGHTS COUNCIL</a></li>
                        <li><a href="/mossad">MOSSAD</a></li>
                        <li><a style="background:none;width:100%;display:block;" href="/ccs">CLIMATE CHANGE SUMMIT</a></li>
                    </ul>
                </li>
                <li>
                    <a id="sub-list-3-opener" style="cursor:pointer">REGISTER</a>
                    <ul id="sub-list-3">
                        <li><a href="https://docs.google.com/forms/d/1vwEnOqwTS88hwv_5mdQ6KB9ut9EZBWmHXf8_i_hp6Io">DELEGATE APPLICATION</a></li>
                        <li><a href="http://bit.ly/chitkaramun_ip_apps">IP APPLICATION</a></li>
                        <li><a data-toggle="modal" data-target="#paymentModal">PAYMENT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/team">TEAM</a>
                </li>
                <li>
                    <a href="/resources">DELEGATE RESOURCES</a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <img src="images/chitkaralogo.png" width=130px height=50px class="chitkara-logo" />
            <nav class="navbar navbar-fixed-top">
                <div class="nav-div">
                    <button type="button" id="sidebarCollapse">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="navbar-header">

                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li id="show-committee-options">
                                <a href="/committees">COMMITTEES <i class="fas fa-chevron-down"></i></a>
                                <ul id="sub-list-ul-1">
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/aippm">AIPPM</a></li>
                                    <li style="padding:11px;width:100%;display:block;"><a style="background:none;" href="/ugna">UNGA</a></li>
                                    <li style="padding:11px;width:100%;display:block;"><a style="background:none;" href="/hnc">HUMAN RIGHTS COUNCIL</a></li>
                                    <li style="padding:11px;width:100%;display:block;"><a style="background:none;width:100%;display:block;" href="/mossad">MOSSAD</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/ccs">CLIMATE CHANGE SUMMIT</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/team">TEAM</a>
                            </li>
                            <li id="show-register-options">
                                <a href="#">REGISTER <i class="fas fa-chevron-down"></i></a>
                                <ul id="sub-list-ul">
                                    <li style="padding:11px;"><a href="https://docs.google.com/forms/d/1vwEnOqwTS88hwv_5mdQ6KB9ut9EZBWmHXf8_i_hp6Io">Delegate Application</a></li>
                                    <li style="padding:11px;"><a href="http://bit.ly/chitkaramun_ip_apps">IP Application</a></li>
                                    <li style="padding:11px;"><a data-toggle="modal" data-target="#paymentModal">PAYMENT</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/resources">DELEGATE RESOURCES</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="heading-div">
                <div class="text-center">
                    <img src="images/munlogo.png" class="mun-logo" />
                </div>
                <p class="text-center tlt color-text">CHITKARA INTERNATIONAL MUN AND CLIMATE CHANGE SUMMIT</p>
                <div class="container">
                    <hr style="color:#668cff" />
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-center mun-date">11-13th January 2019</p>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-2 col-xs-2"></div>
                            <div class="col-md-2 col-xs-2 timer-big">
                                <div>
                                    <p class="timer-effect">DAY</p>
                                </div>
                                <div>
                                    <p class="timer-effect" id="timer-d"></p>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 timer-big hour">
                                <div>
                                    <p class="timer-effect">HOUR</p>
                                </div>
                                <div>
                                    <p class="timer-effect" id="timer-h"></p>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 timer-big">
                                <div>
                                    <p class="timer-effect">MIN</p>
                                </div>
                                <div>
                                    <p class="timer-effect" id="timer-m"></p>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-2 timer-big">
                                <div>
                                    <p class="timer-effect">SEC</p>
                                </div>
                                <div>
                                    <p class="timer-effect" id="timer-s"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="color:#668cff" />
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="text-center col-md-6 col-sm-6 col-xs-12" style="padding:10px">
                            <a href="https://docs.google.com/forms/d/1vwEnOqwTS88hwv_5mdQ6KB9ut9EZBWmHXf8_i_hp6Io">
                                <button class="app-btn">Delegate Application</button>
                            </a>
                        </div>
                        <div class="text-center col-md-6 col-sm-6 col-xs-12" style="padding:10px">
                            <a href="http://bit.ly/chitkaramun_ip_apps">
                                <button class="app-btn">IP Application</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="info-card">
                    <h2 style="font-weight: 600">WHAT IS AN MUN?</h2>
                    <br/>
                    <p>The Model United Nations Conference is a simulation of the United Nations. With an insight into currently significant issues, MUNs are the best tools in the making of a globally aware citizen where delegates discuss, deliberate and tackle various matters of concern with effective knowledge in a nuanced and diplomatic manner. It gives the delegates a chance to hone their skills by bringing together various facets including public speaking, research and critical analysis. Conferences like these are platforms to inspire the youth to think outside the box. </p>
                    <p class="text-center show-more show-more-1" onclick="showMoreText('1')">Show more <i class="fas fa-chevron-down"></i></p>
                    <p class="hidden-text-1">“The Charter of the United Nations expresses the noblest aspirations of man: abjuration of force in the settlement of disputes between states; the assurance of human rights and fundamental freedoms for all without distinction as to race, sex, language or religion; the safeguarding of international peace and security.” - Haile Selassie</p>
                </div>
                <div class="info-card">
                    <h2 style="font-weight: 600">ABOUT CHITKARA UNIVERSITY AND CHITKARA UNIVERSITY MUNSOC:</h2>
                    <br/>
                    <p>Chitkara University has been established by passionate academicians with the sole mission of holistic growth of each student. </p>
                    <p>It is run with the vision “To be a globally recognized organization promoting academic excellence through interdisciplinary applied research and to expand realms of knowledge through innovation.”</p>
                    <p class="text-center show-more show-more-2" onclick="showMoreText('2')">Show more <i class="fas fa-chevron-down"></i></p>
                    <p class="hidden-text-2">Chitkara University MUN Society was established in the year 2016 with an aim of making the future leaders of society adept with various skills that are essential in the making of a responsible citizen. It focuses on inculcating leadership qualities among students while sensitizing them towards important global issues.</p>
                    <p class="hidden-text-2">Chitkara University MUNSOC has conducted six successful conferences in the past, all of which received an overwhelming response and widespread participation. This time it is back with yet another one of its kind event and the biggest MUNs ever.</p>
                </div>
                <div class="info-card">
                    <h2 style="font-weight: 600">ABOUT CHITKARA MUN 2019 :</h2>
                    <p>Chitkara University MUN Society proudly announces the 7th Edition of the Chitkara International MUN and the first ever <b>C</b>limate <span style="font-weigth:500">C</span>hange <span style="font-weigth:500">S</span>ummit. </p>
                    <p>As we aim at leading the world towards a safer and sustainable path, with our arms wide open, we invite those who are motivated by the desire to achieve, make a change and be a step ahead to be a part of one of the finest conferences ever.</p>
                    <p class="text-center show-more show-more-3" onclick="showMoreText('3')">Show more <i class="fas fa-chevron-down"></i></p>
                    <p class="hidden-text-3">The Conference will be an amalgamation of five committees, each of which will be witness to intense deliberations and thought-provoking discussions. Also, we have the International Press which will be responsible for presenting the happenings of the event in an unbiased and unconventional way. </p>
                    <p class="hidden-text-3">The Three day summit has been scheduled from 11-13 January, 2019 and will be held at Chitkara University,Punjab. </p>
                </div>
            </div>
            <div class="col-md-12 text-center footer">
                <div class="container">
                    <div class="row footer-row">
                        <div class="col-md-3" style="margin-bottom: 3%;display:flex;">
                            <div style="width:60px;">
                                <span style="font-size: 30px;color:#668cff"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                            <div>
                                <a href="https://www.google.com/maps/place/Chitkara+University/@30.5160865,76.6575891,17z/data=!3m1!4b1!4m5!3m4!1s0x390fc32344a6e2d7:0x81b346dee91799ca!8m2!3d30.5160865!4d76.6597778" target="_blank"><span class="location">Chitkara University, Rajpura, Punjab, India</span></a>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 3%;">
                            <div class="email-div">
                                <div style="width:60px;">
                                    <span style="font-size: 30px;color:#668cff"><i class="fas fa-envelope"></i>
                            </span>
                                </div>
                                <div style="line-height:2">
                                    <p style="word-break:break-all;">secretariat.chitkaramun2018@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom: 3%;display:flex;">
                            <div style="width:60px;">
                                <span style="font-size: 30px;color:#668cff"><i class="fas fa-phone"></i>
                            </span>
                            </div>
                            <div style="line-height:2;font-size:15px;width:70%;">
                                <span>Mokshit Sood</span>
                                <br/>
                                <span>(Secretary General)</span>
                                <br/>
                                <span>+91-8054413092</span>
                                <br/>
                                <span>Geetanjali Sharma</span>
                                <br/>
                                <span>(Faculty Advisor) </span>
                                <br/>
                                <span>+91-9888294916</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/munchitkara/" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/mun.chitkara/" class="icoLinkedin" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <!-- Modal -->
            <div id="paymentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">PAYMENT</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" placeholder="Reference Code" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="payRedirect()">Pay Now</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
</body>

</html>
