<html>

<head>
    <title>CHITKARA MUN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/team.js"></script>
    <link href="css/team.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet">
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.lettering.js"></script>
    <script src="js/jquery.textillate.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>CHITKARA MUN</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a id="sub-list-2-opener" style="cursor:pointer">COMMITTEES</a>
                    <ul id="sub-list-2">
                        <li><a href="/committees">ALL COMMITTEES</a></li>
                        <li><a href="/aippm">AIPPM</a></li>
                        <li><a href="/ugna">UNGA</a></li>
                        <li><a href="/hnc">HUMAN RIGHTS COUNCIL</a></li>
                        <li><a href="/mossad">MOSSAD</a></li>
                        <li><a style="background:none;width:100%;display:block;" href="/ccs">CLIMATE CHANGE SUBMIT</a></li>
                    </ul>
                </li>
                <li>
                    <a id="sub-list-3-opener" style="cursor:pointer">REGISTER</a>
                    <ul id="sub-list-3">
                        <li><a href="https://docs.google.com/forms/d/1vwEnOqwTS88hwv_5mdQ6KB9ut9EZBWmHXf8_i_hp6Io">DELEGATE APPLICATION</a></li>
                        <li><a href="http://bit.ly/chitkaramun_ip_apps">IP APPLICATION</a></li>
                        <li><a data-toggle="modal" data-target="#paymentModal">PAYMENT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/team">TEAM</a>
                </li>
                <li>
                    <a href="/resources">DELEGATE RESOURCES</a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <img src="images/munlogo.png" width="76px" height="55px" class="mun-logo" />
            <nav class="navbar navbar-fixed-top">
                <div class="nav-div">

                    <button type="button" id="sidebarCollapse">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="fontSize: 21,fontWeight: 500,letterSpacing:1">CHITKARAMUN </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li id="show-committee-options">
                                <a href="/committees">COMMITTEES <i class="fas fa-chevron-down"></i></a>
                                <ul id="sub-list-ul-1">
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/aippm">AIPPM</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/ugna">UNGA</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/hnc">HUMAN RIGHTS COUNCIL</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/mossad">MOSSAD</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/ccs">CLIMATE CHANGE SUBMIT</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/team">TEAM</a>
                            </li>
                            <li id="show-register-options">
                                <a href="#">REGISTER <i class="fas fa-chevron-down"></i></a>
                                <ul id="sub-list-ul">
                                    <li style="padding:11px;"><a href="https://docs.google.com/forms/d/1vwEnOqwTS88hwv_5mdQ6KB9ut9EZBWmHXf8_i_hp6Io">Delegate Application</a></li>
                                    <li style="padding:11px;"><a href="http://bit.ly/chitkaramun_ip_apps">IP Application</a></li>
                                    <li style="padding:11px;"><a data-toggle="modal" data-target="#paymentModal">PAYMENT</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/resources">DELEGATE RESOURCES</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="heading-div">
                <p class="text-center tlt color-text">TEAM</p>
            </div>
            <div class="container">
                <h2 class="text-center" style="margin-bottom:20px">SECRETARIAT</h2>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 30px;margin-bottom: 30px;">
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Mokshit%20Sood(Secretary%20General).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Mokshit Sood</span>
                        <br/>
                        <span class="exe-des">Secretary General</span>
                        <br/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Tanya%20Walia%20(Director%20General).jpeg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Tanya Walia</span>
                        <br/>
                        <span class="exe-des">Director General</span>
                        <br/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Vaibhav%20Raj(Convener).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Vaibhav Raj</span>
                        <br/>
                        <span class="exe-des">Convener</span>
                        <br/>
                    </div>
                </div>
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Bhaskar%20Datta(Deputy%20Secretary%20General).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Bhaskar Datta</span>
                        <br/>
                        <span class="exe-des">Deputy Secretary General</span>
                        <br/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Jasneet%20Malhi(deputy%20director%20general).JPG" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Jasneet Malhi</span>
                        <br/>
                        <span class="exe-des">Deputy Director General</span>
                        <br/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Rachit%20Goel(Charge%20d'Affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Rachit Goel</span>
                        <br/>
                        <span class="exe-des">Charge'd Affairs</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <h1>USGs & UDGs</h1>
                <hr/>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">OUTREACH</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 30px;margin-bottom: 30px;">
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Aditi%20Pathak(USG%20Outrach).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Aditi Pathak</span>
                        <br/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Raghav%20Dewan(USG%20outreach)%20(1).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Raghav Dewan</span>
                        <br/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/yatharth.jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Yatharth Gandhi</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">DELEGATE AFFAIRS</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Parul%20Singla(USG%20Delegate%20Affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Parul Singla</span>
                        <br/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Sahil%20Dhiman(USG%20Delegate%20Affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Sahil Dhiman</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">IP AFFAIRS</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-12 col-sm-12">
                        <img src="./images/teamphotos/Anmol%20Talwar(USG%20iP%20affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Anmol Talwar</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">EB AFFAIRS</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-12 col-sm-12">
                        <img src="./images/teamphotos/Utkarsh%20Tripathi%20(USG%20EB%20affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Utkarsh Tripathi</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">SOCIAL MEDIA</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Rajat%20Chitkara%20(USG%20social%20Medis)%20.jpeg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Rajat Chitkara</span>
                        <br/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Guntas%20Kaur(USG%20social%20media).jpeg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Guntas Kaur</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">TECH</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/sahiljain.jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Sahil Jain</span>
                        <br/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Aakash%20goyal(USG%20graphic%20Designer).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Aakash Goyal</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">LOGISTICS</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 30px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Jinesh%20Taneja(UDG%20logistics).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Jinesh Taneja</span>
                        <br/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Gaurav%20Khullar(UDG%20Logistics).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Gaurav Khullar</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">HOSPITALITY</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Niyati%20(UDG%20hospitality).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Niyati</span>
                        <br/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Yashan%20(UDG%20Hospitality).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Yashan</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">CONFERENCE AFFAIRS</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Abhinay%20Mehta%20(UDG%20Congerence%20affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Abhinay Mehta</span>
                        <br/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Gurbaz%20(UDG%20Conference%20Affairs).JPG" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Gurbaz</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">CONTENT WRITER</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-12 col-sm-12">
                        <img src="./images/teamphotos/Bhavika%20(UDG%20Content%20Writer)%20(2).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Bhavika</span>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">CULTURAL AFFAIRS</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Navjot%20Matharu%20(UDG%20cultural%20affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Navjot Matharu</span>
                        <br/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img src="./images/teamphotos/Siddharth%20Kansal(UDG%20Cultural%20Affairs).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Siddharth Kansal</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 class="text-center" style="margin-bottom:20px">FOOD & BEVERAGES</h3>
                <hr style="border:1px solid lightgray" />
                <div class="row text-center" style="margin-top: 40px;margin-bottom: 30px;">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/Ranjit%20Singh(UDG%20food%20and%20Beverages).jpg" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Ranjit Singh</span>
                        <br/>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/teamphotos/mayankarora.png" height="260px" width="300px" class="team-image" />
                        <br/>
                        <span class="exe-name">Mayank Arora</span>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center footer">
                <div class="container">
                    <div class="row footer-row">
                        <div class="col-md-3" style="margin-bottom: 3%;display:flex;">
                            <div style="width:60px;">
                                <span style="font-size: 30px;color:#668cff"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                            <div>
                                <a href="https://www.google.com/maps/place/Chitkara+University/@30.5160865,76.6575891,17z/data=!3m1!4b1!4m5!3m4!1s0x390fc32344a6e2d7:0x81b346dee91799ca!8m2!3d30.5160865!4d76.6597778" target="_blank"><span class="location">Chitkara University, Rajpura, Punjab, India</span></a>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 3%;">
                            <div class="email-div">
                                <div style="width:60px;">
                                    <span style="font-size: 30px;color:#668cff"><i class="fas fa-envelope"></i>
                            </span>
                                </div>
                                <div style="line-height:2">
                                    <p style="word-break:break-all;">secretariat.chitkaramun2018@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom: 3%;display:flex;">
                            <div style="width:60px;">
                                <span style="font-size: 30px;color:#668cff"><i class="fas fa-phone"></i>
                            </span>
                            </div>
                            <div style="line-height:2">
                                <span>+91-8054413092</span>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/munchitkara/" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/mun.chitkara/" class="icoLinkedin" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div id="paymentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">PAYMENT</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" placeholder="Reference Code" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="payRedirect()">Pay Now</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
</body>

</html>
