<html>

<head>
    <title>CHITKARA MUN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/comdes.js"></script>
    <link href="css/comdes.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="css/animate.css" rel="stylesheet">
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.lettering.js"></script>
    <script src="js/jquery.textillate.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>CHITKARA MUN</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a id="sub-list-2-opener" style="cursor:pointer">COMMITTEES</a>
                    <ul id="sub-list-2">
                        <li><a href="/committees">ALL COMMITTEES</a></li>
                        <li><a href="/aippm">AIPPM</a></li>
                        <li><a href="/ugna">UNGA</a></li>
                        <li><a href="/hnc">HUMAN RIGHTS COUNCIL</a></li>
                        <li><a href="/mossad">MOSSAD</a></li>
                        <li><a style="background:none;width:100%;display:block;" href="/ccs">CLIMATE CHANGE SUBMIT</a></li>
                    </ul>
                </li>
                <li>
                    <a id="sub-list-3-opener" style="cursor:pointer">REGISTER</a>
                    <ul id="sub-list-3">
                        <li><a href="https://docs.google.com/forms/d/1vwEnOqwTS88hwv_5mdQ6KB9ut9EZBWmHXf8_i_hp6Io">DELEGATE APPLICATION</a></li>
                        <li><a href="http://bit.ly/chitkaramun_ip_apps">IP APPLICATION</a></li>
                        <li><a data-toggle="modal" data-target="#paymentModal">PAYMENT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/team">TEAM</a>
                </li>
                <li>
                    <a href="/resources">DELEGATE RESOURCES</a>
                </li>
            </ul>
        </nav>

        <div id="content">

            <nav class="navbar navbar-fixed-top">
                <div class="nav-div">

                    <button type="button" id="sidebarCollapse">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="fontSize: 21,fontWeight: 500,letterSpacing:1">CHITKARAMUN </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/">HOME</a>
                            </li>
                            <li id="show-committee-options">
                                <a href="/committees">COMMITTEES <i class="fas fa-chevron-down"></i></a>
                                <ul id="sub-list-ul-1">
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/aippm">AIPPM</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/ugna">UNGA</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/hnc">HUMAN RIGHTS COUNCIL</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/mossad">MOSSAD</a></li>
                                    <li style="padding:11px;"><a style="background:none;width:100%;display:block;" href="/ccs">CLIMATE CHANGE SUBMIT</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/team">TEAM</a>
                            </li>
                            <li id="show-register-options">
                                <a href="#">REGISTER <i class="fas fa-chevron-down"></i></a>
                                <ul id="sub-list-ul">
                                    <li style="padding:11px;"><a href="https://docs.google.com/forms/d/1vwEnOqwTS88hwv_5mdQ6KB9ut9EZBWmHXf8_i_hp6Io">Delegate Application</a></li>
                                    <li style="padding:11px;"><a href="http://bit.ly/chitkaramun_ip_apps">IP Application</a></li>
                                    <li style="padding:11px;"><a data-toggle="modal" data-target="#paymentModal">PAYMENT</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/resources">DELEGATE RESOURCES</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="heading-div text-center">
                <img src="images/unga.png" width="150px" height="150px">
                <p class="text-center tlt" style="color:#cca300">UGNA</p>
                <a href="https://docs.google.com/spreadsheets/d/1iZKlZnkALXygCJzLdGjwXaf816BxkuIVcVh5nIaajdk/edit?usp=sharing">
                    <button class="ugna-matrix">Country Matrix</button>
                </a>
            </div>
            <div class="container">
                <h2 class="text-center" style="margin-bottom:20px">EXECUTIVE BOARD</h2>
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/ebpics/Vaivab%20Das%20Chairperson%20UNGA.jpg" height="300px" width="300px" class="round-image" />
                        <br/>
                        <br/>
                        <span class="exe-name">Vaivab Das</span>
                        <br/>
                        <span class="exe-des">Chairperson</span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="./images/ebpics/Prathmesh%20Tripathi%20UNGA%20VIce%20Chairperson.jpg" height="300px" width="300px" class="round-image" />
                        <br/>
                        <br/>
                        <span class="exe-name">Prathmesh Tripathi</span>
                        <br/>
                        <span class="exe-des">Vice Chairperson</span>
                    </div>
                </div>
            </div>
            <div class="info-card">
                <h2 style="font-weight: 600">COMMITTEE DESCRIPTION</h2>
                <br/>
                <p>Since the General Assembly is the main organ of the United Nations and has representation from every UN member states, it is able to discuss a wide variety of world issues. DISEC- Disarmament and International Security (DISEC) committee deals with topics that center around disarmament, global issues, and threats to peace that jeopardize international security. It promotes cooperative arrangements and measures aimed at strengthening stability through lower levels of armaments.</p>
            </div>
            <div class="info-card">
                <h2 style="font-weight: 600">AGENDA</h2>
                <br/>
                <p>Preventing and countering violent extremism and radicalism globally</p>
            </div>
            <div class="col-md-12 text-center footer">
                <div class="container">
                    <div class="row footer-row">
                        <div class="col-md-3" style="margin-bottom: 3%;display:flex;">
                            <div style="width:60px;">
                                <span style="font-size: 30px;color:#668cff"><i class="fas fa-map-marker-alt"></i></span>
                            </div>
                            <div>
                                <a href="https://www.google.com/maps/place/Chitkara+University/@30.5160865,76.6575891,17z/data=!3m1!4b1!4m5!3m4!1s0x390fc32344a6e2d7:0x81b346dee91799ca!8m2!3d30.5160865!4d76.6597778" target="_blank"><span class="location">Chitkara University, Rajpura, Punjab, India</span></a>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-bottom: 3%;">
                            <div class="email-div">
                                <div style="width:60px;">
                                    <span style="font-size: 30px;color:#668cff"><i class="fas fa-envelope"></i>
                            </span>
                                </div>
                                <div style="line-height:2">
                                    <p style="word-break:break-all;">secretariat.chitkaramun2018@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-bottom: 3%;display:flex;">
                            <div style="width:60px;">
                                <span style="font-size: 30px;color:#668cff"><i class="fas fa-phone"></i>
                            </span>
                            </div>
                            <div style="line-height:2">
                                <span>+91-8054413092</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/munchitkara/" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/mun.chitkara/" class="icoLinkedin" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div id="paymentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">PAYMENT</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" placeholder="Reference Code" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Pay Now</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>
</body>

</html>
